<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/login styles.css">
</head>
<body> 
    <h1 class="welcome">Welcome To <br> My Baby and Me</h1> 
    <div class="photo-grid">
        <div class="picture1">
            <img src="photos/momchild.jpg" alt="">
        </div>
        <div class="picture2">
            <img src="photos/baby orogami.jpg" alt="">
        </div>
        <div class="picture3">
            <img src="photos/mom.jpg" alt="">
        </div>
        <div class="picture4">
            <img src="photos/199d6c09025fed6a9f8f57f0d16501dc.jpg" alt="">
        </div>
        <div class="picture5">
            <img src="photos/646ee5ab2b22d0ff875bde5e187ca665.jpg" alt="">
        </div>
        <div class="picture6">
            <img src="photos/943845b0f8a7df539f629e49c3c40f4f.jpg" alt="">
        </div>
        <div class="picture7">
            <img src="photos/hand.jpg" alt="">
        </div>
        <div class="picture8">
            <img src="photos/login page.jpg" alt="">
        </div>
        <div class="picture9">
            <img src="photos/girl.jpg" alt="">
        </div>
        <div class="picture10">
            <img src="photos/family.jpg" alt="">
        </div>
    </div>
