{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccuReport</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="all">
        <div class="container">
            <div class="side">
                <div class="logo">
                    <div class="logo"><img class="logos" src="{% static 'css/photos/Kenya_Police_Flag.gif' %}" alt="Kenya Police Flag">  <h3>The Kenya Police <br> <div class="motto">Utumishi Kwa Wote</div> </h3></div>
                    <h3>The Kenya Police <br> <div class="motto">Utumishi Kwa Wote</div> </h3>
                </div>
                <h2>ACCIDENT FILES</h2>
                <ul class="rec">
                    <li id="abstractli"><a href="#">Police Abstract</a></li>
                    <li id="chargesheetli"><a href="#">Charge Sheet</a></li>
                    <li id="medicalreportli"><a href="#">Medical Examination Report</a></li>
                </ul>
                <h2>EMERGENCY ALERTS</h2>
                <ul class="dis">
                    <li id="accidentAlertsli"><a href="">Accident Alerts</a></li>
                    <!--I want it such that when I click this link it will take me to the functionalities of the emergency app so that I can view the accident alerts. We will use ajax-->
                    <li><a href="">Crime Alerts</a></li>
                </ul>
                <h2>ACTION CENTER</h2>
                <ul class="cat">
                    <li><a href="">Sketch Planning</a></li>
                    <li><a href="">Progress Reports</a></li>
                    <li><a href="">New Releases</a></li>
                    <li><a href="">Upcoming</a></li>
                    <li><a href="">Specials</a></li>
                    <li><a href="">Virtual Reality</a></li>
                    <li><a href="">Steam Controller</a></li>
                </ul>
                <h2>BROWSE BY GENRE</h2>
                <ul class="bro">
                    <li><a href="">Free to Play</a></li>
                    <li><a href="">Early Access</a></li>
                    <li><a href="">Action</a></li>
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Multiplayer Modes</a></li>
                    <li><a href="">Sports</a></li>
                    <li><a href="">Live action</a></li>
                    <li><a href="">Classic Games</a></li>
                </ul>
            </div>
            <!-- THis is the Main page the body -->












       
