{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AccuReport</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="all">
        <div class="container">
            <div class="side">
                <div class="logo">
                    <div class="logo"><img class="logos" src="{% static 'css/photos/Kenya_Police_Flag.gif' %}" alt="Kenya Police Flag">  <h3>The Kenya Police <br> <div class="motto">Utumishi Kwa Wote</div> </h3></div>
                </div>
                <h2>ACCIDENT FILES</h2>
                <ul class="rec">
                    <li id="abstractli"><a href="index">Police Abstract</a></li>
                    <li id="chargesheetli"><a href="chargesheet">Charge Sheet</a></li>
                    <li id="medicalreportli"><a href="medical">Medical Examination Report</a></li>
                </ul>
                <h2>EMERGENCY ALERTS</h2>
                <ul class="dis">
                    <li id="accidentAlertsli"><a href="index#accidentAlerts">Accident Alerts</a></li>
                    <li id="crimeAlertsli"><a href="index#crimeAlerts">Crime Alerts</a></li>
                </ul>
                <h2>ACTION CENTER</h2>
                <ul class="cat">
                    <li id="roughLi"><a href="#">Rough Draft</a></li>
                    <li><a href="">Sketch Planning</a></li>
                    <li><a href="">Progress Reports</a></li>
                    <li><a href="">Emergency Services</a></li>
                    <li><a href="">Law Courts</a></li>
                    <li><a href="">Medical Department</a></li>
                    <li><a href="">Account Settings</a></li>
                </ul>
            </div>
            <!-- THis is the Main page the body -->












       
