{% load static%}
{% include 'base.html'%}

<style>
    img {
        height: 150px;
        width: 150px;
        border-radius: 5px;
        
    }
    .mediDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #medicalExam {
        background-color: rgb(236, 243, 246);
        box-shadow: 0 0 10px rgba(0,0,0,.15);
        padding: 20pt;
        margin: 10pt;
    }

    input[type="text"],
  textarea {
    width: 220pt;
    height: 40pt;
    border-radius: 5px;
    background-color: rgb(209, 220, 233);
    border: 1px solid black;
    color: black;
  }
  button[type="submit"] {
    background-color: #041827; /* Green color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Indicate clickable button */
  }
  
  button[type="submit"]:hover {
    background-color: #1e3455; /* Darker green on hover */
  }
  #medicalExam {
    font-size: 1.1em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 400pt;
  }
  .medicalExam h1 {
    font-size: 1.5em;
    text-align: center;

  }

</style>

        <div id="medicalreport" class="sect" >
            {% include 'authenticator/navigation.html' %}

            <div class="mediDiv">
                
                <form method="POST" id="medicalExam">
                  <img src="{% static 'css/photos/Kenya_Police_Flag.gif' %}" alt="Kenya Police Flag">
                <h1>THE KENYA POLICE <br>KENYA MEDICAL EXAMINATION REPORT</h1>


                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>


            </div>
                        
            




            {% include 'footer.html' %}


        </div>
    </div>
</div>
<script src="{% static 'js/index.js' %}"></script> 
</body>

</html>
